<h1>Analytes</h1>
<%= link_to 'Admin', admin_path %>
<%= render 'shared/flash' %>

<%= link_to "New Analyte", new_analyte_path %>

<ul id="analytes">
	<% @analytes.each do |analyte| %>		
		<li class="analyte">
			<span class="analyte-name">
				<%= link_to analyte.name, analyte %>
			</span>
		</li>
	<% end %>
</ul>

</div>

