<div class="coupon">
	<section class='coupon-info'>
		<span class='counpon-name'>
			<%= coupon.key %>
		</span>
		<span class='coupon-value'>
			<%= coupon.value %>
		</span>
	</section>
	<section class='coupon-actions'>
		<%= link_to 'Delete', coupon, method: :delete %>
	</section>
</div>









