<h2>Instructions</h2>
<div id='order-instructions'>
	<p>
		Thank you for participating in the Measuring Wellness Beta launch.  
		We hope you find this either a valuable addition to your current wellness routine, 
			or an excellent first step in taking control of your health!  
	</p>
	<p>
		In order to learn from and provide you with the best service possible, 
			we would greatly appreciate your feedback. 
		You will be sent a brief survey where we would like to capture any 
			input you may have regarding our website; the process; 
			your overall experience; the value you received; and any other 
			comments or questions you may have. 
		Thank you in advance for your time and perspective. 
	</p>
	<p>
		By now, you should have a Quest Diagnostics Test Requisition form.  
		If you do not, please contact us at 1-888-560-4440.
	</p>
	<p>
		The next steps are easy!  
		And if you have any questions, please don’t hesitate to 
			call us at the number above:
	</p>
	<ol>
		<li>
			Locate a Quest Diagnostics draw center near you.  
			There are many locations in the Boulder/Denver area.  
			You can find a convenient location
			<a href="https://secure.questdiagnostics.com/hcp/psc/jsp/SearchLocation.do">
				here</a>
		</li>
		<li>
			Between March 28th and April 4th - Plan a day to have your blood drawn.  
			You do not need to schedule the draw with Quest, 
				although you may wish to purely for convenience. 
			You do need to have been fasting for at least 12 hours prior 
				to having your blood drawn and it needs to 
				be done <strong>PRIOR TO 10AM</strong>.  
			Quest has very accommodating early morning hours that work for most people.  
			Let us know if the available times do not work for you.
		</li>
		<li>
			At your Quest appointment, you will also provide a urine sample. 
			Be sure that you void at home upon rising from sleep; 
				drink at least a full glass of water (only!); 
				and then Quest will take a sample of your second urination.
		</li>
		<li>
			Arrive at the draw center with your testing requisition. 
			If you are taking medications, please continue to take them normally, 
				but avoid taking any dietary supplements for the 12 hours 
				prior to the blood draw.  
		</li>
		<li>
			You should not be asked for any payment – this is a free service to you, 
				our Beta Team!  
		</li>
		<li>
			The overall Quest process should take no more than 15 minutes. 
			Being well hydrated before arrival makes both the blood draw and 
				urine sample easier. 
		</li>
		<li>
			You will be contacted via email within the next 2 to 3 weeks 
				with your test results.  
			They will also be posted on your secure Personal Health Portal 
			on the Measuring Wellness website. 
		</li>
		<li>
			Where dietary supplements are recommended, 
				we are offering high quality supplements at a 30% discount 
				for up to two months after receiving your results.   
		</li>
		<li>
			We will make ourselves available to you to answer any 
				additional questions you might have about the results 
				and any of the recommendations being made specifically for you.  
			You can also send us an email at 
				<a href="mailto:info@measuringwellness.com">
					info@measuringwellness.com
				</a>
				at any time with questions, comments or general feedback. 
		</li>
	</ol>
	<p>
		Thank you for participating in the Measuring Wellness Beta launch! 
		We look forward to serving you.  
	</p>
</div>

