<div class="bucket summary">
	<div class="bucket-image image-summary">
		<%= image_tag "bucket_images/" + image_path %>
	</div>
	<div class="bucket-content-container summary-container container">
		<div class="bucket-title summary-title">
			<%= title %>
		</div>
		<div class="bucket-content summary-content">
			<%= content %>
		</div>
		<div class="bucket-link summary-link">
			<% link = "measures#" + title.delete(' ') %>
			<%= link_to "Learn More", link %>
		</div>
	</div>
</div>


