<div class="navigation">
	<ul class="navigation-link-container container">
		<li class="navigation-link"><%= link_to 'Home', root_path %></li>
		<li class="navigation-link"><%= link_to 'Measures', measures_path %></li>
		<li class="navigation-link"><%= link_to 'Homeostasis', homeostasis_path %></li>
	</ul>
</div>









