<div class="measure-container">
	<h1 class='title'>
		What We Measure	
	</h1>

	<div class='measure-description description'>
		<p>
			Just because you do not have a disease does not mean you are healthy.  
			Wellness can me measured objectively.  
			Measuring Wellness™ offers a unique analysis of common, 
			These dysfunctions appear before a disease develops.
		</p>
		<p>
			Human metabolism operates optimally when blood chemistry maintains 
				itself within  narrow ranges.  
			This process is very complex and is called homeostasis.  
			When blood chemistry values deviate from these true, 
				normal ranges they reflect underlying dysfunctions.  
			These dysfunctions or defects appear before a true disease develops.  
			They can accurately be called  “subclinical defects”.
		</p>
		<p>
			Western medicine laboratory “normals” define diseases not dysfunctions.  
			Thus, these  “subclinical defect/dysfunctions” go largely unrecognized 
				by well trained physicians.  
			The symptoms that may (or may not) accompany these imbalances are subtle 
				and might leave you feeling “suboptimal”.  
			However, if left untreated through lifestyle, dietary changes, 
				and/or appropriate supplements (medical foods), 
				subclinical defects eventually progress into full blown diseases.
		</p>
		<p>
			Your body and its metabolism function like a high performance sports car.  
			The biochemistry of your body can be scientifically tracked by 
				objective laboratory data.  
			These data are like an ongoing weather report, 
				transmitted by your very own body, 
				that tells both how it is doing and what it needs to function better.
		</p>
		<p>
			Recognizing that your body can create your best performance and 
				promote longevity through correct metabolic maintenance is the 
				foundation that promotes wellness.  
			Medicine is what your doctor does for you.  
			Health is what you give to yourself.
		</p>
	</div>	
	
	
<%
	# Initialize content
	extra_content = <<-eos
		Lorem ipsum dolor sit amet, 
		consectetur adipisicing elit, sed do eiusmod tempor 
		incididunt ut labore et dolore magna aliqua. 
		Ut enim ad minim veniam, quis nostrud 		   
		exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		Duis aute irure dolor in reprehenderit in voluptate velit esse 
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
		proident, sunt in culpa qui officia
		deserunt mollit anim id est laborum.
	eos

	performance_content = "Measuring performance - " + extra_content*2

	restoration_content = "Measuring restoration - " + extra_content*2

	longevity_content = "Measuring longevity - " + extra_content*2

	productivity_content = "Measuring productivity - " + extra_content*2

	# Initialize local variables
	performance = { title: "Measuring Performance", content: performance_content }
	restoration = { title: "Measuring Restoration", content: restoration_content }
	longevity = 	{ title: "Measuring Longevity", 	content: longevity_content }
	productivity = { title: "Measuring Productivity", content: productivity_content }

%>
<a id="MeasuringPerformance" class='anchor-link'></a>
<%= render partial: 'measure_bucket', locals: performance %>
</a>
<a id="MeasuringRestoration" class='anchor-link'></a>
<%= render partial: 'measure_bucket', locals: restoration %>
</a>
<a id="MeasuringLongevity" class='anchor-link'></a>
<%= render partial: 'measure_bucket', locals: longevity %>
</a>
<a id="MeasuringProductivity" class='anchor-link'></a>
<%= render partial: 'measure_bucket', locals: productivity %>
</a>
</div>









