// UNIVERSAL VARIABLES


// colors
$kelp: #484E32;
$yuma: #CAC37F;
$tan: #D1B37F;
$peach: #E9D6C5;

$primary-color: $kelp;
$secondary-color: $peach;
$tertiary-color: $tan;
$quaternary-color: $yuma;

// fonts
$font-stack: sans-serif








