// Place all the styles related to the HomePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//--------- INCLUDES ---------
@import 'site_variables';
@import 'mixins';

//---------- UNIVERSAL ---------------------

body {
	color: $primary-text-color;
	font-family: $font-stack;

	@include radial-gradient-background(white, $quaternary-color);
}

.title {
	font-weight: bold;
	font-size: 2em;
}


// Bucket
.bucket {
	padding: 5px;
 	padding-bottom: 7px;	
	margin: 3px;

	// Bucket Title
	.bucket-title {
		font-size: 115%;
	}

	// Bucket Content
	.bucket-content {
		padding: 3px;
		margin: 5px;
	}

	// Bucket Link
	.bucket-link {
		background-color: $primary-color;
		color: $primary-text-color;

		padding: 3px 5px;
		border: solid 2px $secondary-color;	
		border-radius: 5px;
		margin: 3px;

	} // end .bucket-link
} // end .bucket



//-------------- HOME PAGE ----------------------

// Measure
.measure-summary-bucket {
	position: relative; // Used to anchor link to bottom

	display: inline-block;
	width: 250px; // slightly wider than image
	height: 350px;
	float: left;

	// Image
	.bucket-image-container {
		margin-bottom: 0.3em;
		width: 100%;
	}
	.bucket-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	// Title
	.bucket-title {
		text-align: center;
	}

	// Content
	.bucket-content {
		padding: 0px 7%;
	}

	// Link
	.bucket-link-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 5px;

		text-align: center;

		.bucket-link {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
} // end .measure-summary-bucket

// About Us Blurb
.about-us {
	padding: 2em 3em 0em 3em;
	clear: both;
}

// Homeostasis
.homeostasis-container {
	clear: both;

	padding: 2.5em 1em 1.5em 1em;

	h1 {
		padding-left: 3%;
	}
}

.homeostasis-summary-container {
	margin-right: auto;
	margin-left: auto;
	
	.homeostasis-summary-bucket {
		clear: both;
		
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 1.5em;
		padding-left: 3em;
		border: solid 2px $secondary-color;
		border-radius: 4px;
		
		&:nth-child(even) {
			background-color: $tertiary-color;
		}
		&:nth-child(odd) {
			background-color: $quaternary-color;
		}

		// Image
		.bucket-image {
			float: left;
			margin-right: 1.5em;
		}

		// Content
		.bucket-content {
			width: 70%;
		}

		// Link
		.bucket-link-container {
			margin-bottom: 0.5em;
			width: 100%;
			clear: both;
			
			text-align: right;

			.bucket-link {
				margin-right: 5em;
			}
		}
	} // end .homeostasis-summary-bucket
} // end .homeostais-summary-container


//---------- MEASURES PAGE--------------------
.measure-bucket {
	padding: 1.5em 2em 2em 2em;
	border-radius: 5px;

	background-color: $secondary-color;
}


//------------ HOMEOSTASIS PAGE ----------------
.homeostasis-description {
	margin-bottom: 0.75em;
}

.homeostasis-bucket {
	padding: 1.5em 2em 2em 2em;
	border-radius: 5px;
	
	background-color: $quaternary-color;
}


//----------- NAVIGATION -----------------------
.navigation {
	width: 100%;
	background-color: $primary-color;
	border-bottom: solid 0.15em $secondary-color;

	ul {
		padding: 3px 15px;
		margin: 0px 0px 7px 0px;
		background-color: $primary-color;

		list-style-type: none;

		li {
			display: inline-block;
			margin: 0.1em 3em;
			background-color: $primary-color;

			a {
				padding: .2em .5em;

				color: $primary-text-color;
			} // end a
		} // end li
	} // end ul
} // end .nvaigation


//-------------- HEADER ------------------

.logo-container {
	padding: 7px 0px;
	width: 100%;

	background-color: $primary-color;

	.site-logo-image {
		margin-left: 1em;
	}
}


//------------ FOOTER -----------------
























