// Place all the styles related to the HomePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//--------- INCLUDES ---------
@import 'site_variables';


//---------- UNIVERSAL ---------------------

body {
	color: $primary-text-color;
	font-family: $font-stack;

	min-width: 800px;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.title {
	font-weight: bold;
	font-size: 125%;
}


// Bucket
.bucket {
	padding: 5px;
 	padding-bottom: 7px;	
	margin: 3px;

	// Bucket Title
	.bucket-title {
		font-size: 115%;
	}

	// Bucket Content
	.bucket-content {
		padding: 3px;
		margin: 5px;
	}

	// Bucket Link
	.bucket-link {
		background-color: $primary-color;
		color: $primary-text-color;

		padding: 3px 5px;
		border: solid 2px $secondary-color;	
		border-radius: 5px;
		margin: 3px;

		&:hover, &:active {
			text-decoration: underline;
		}

		&:hover {
			cursor: pointer;
		}

	} // end .bucket-link
} // end .bucket



//-------------- HOME PAGE ----------------------

// Measure
.measure-summary-bucket {
	position: relative; // Used to anchor link to bottom

	display: inline-block;
	width: 250px; // slightly wider than image
	height: 450px;
	float: left;

	// Image
	.bucket-image-container {
		width: 100%;
	}
	.bucket-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	// Title
	.bucket-title {
		text-align: center;
	}

	// Content
	.bucket-content {
		padding: 0px 7%;
	}

	// Link
	.bucket-link-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-bottom: 5px;

		text-align: center;

		.bucket-link {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
} // end .measure-summary-bucket

// Homeostasis
.homeostasis-container {
	min-width: 800px;
	clear: both;

	padding: 2.5em 1em 1.5em 1em;

	h1 {
		padding-left: 3%;

		font-size: 2em;
	}
}

.homeostasis-summary-bucket {
	clear: both;
	
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1.5em;
	padding-left: 3em;
	border: solid 2px $secondary-color;
	border-radius: 4px;

	
	&:nth-child(even) {
		background-color: $tertiary-color;
	}
	&:nth-child(odd) {
		background-color: $quaternary-color;
	}

	// Image
	.bucket-image {
		float: left;
		margin: 3px 10px 3px 3px;
	}

	// Content
	.bucket-content {
		width: 60%;
	}

	// Link
	.bucket-link-container {
		width: 60%;
		clear: both;

		.bucket-link {
			margin-left: 80%;
		}
	}
} // end .homeostasis-summary-bucket



//---------- MEASURES PAGE--------------------



//------------ HOMEOSTASIS PAGE ----------------


//----------- NAVIGATION -----------------------
.navigation {
	background-color: $primary-color;
	border-bottom: solid 0.15em $secondary-color;

	ul {
		padding: 3px 15px;
		margin: 0px 0px 7px 0px;
		background-color: $primary-color;

		list-style-type: none;

		li {
			display: inline-block;
			margin: 0.1em 3em;
			background-color: $primary-color;

			a {
				padding: .2em .5em;

				color: $primary-text-color;
				text-decoration: none;

				border-radius: 3px;

				&:hover, &:active {
					text-decoration: underline;
				}

				&:hover {
					cursor: pointer;
				}

			} // end a
		} // end li
	} // end ul
} // end .nvaigation


//-------------- HEADER ------------------
.logo-container {
	padding: 7px 10px;
	width: 100%;

	background-color: $primary-color;

}


//------------ FOOTER -----------------
























