// Styling for all Layout componenets (views/layouts)
//		Header
//		Navigation
//		Footer

//--------------- INCLUDES -------------
@import 'site_variables';

//----------- NAVIGATION -----------------------
.navigation {
	width: 100%;
	background-color: $primary-color;
	border-bottom: solid 0.15em $secondary-color;

	ul {
		position: relative;
		padding: 3px 15px;
		margin: 0px 0px 7px 0px;
		background-color: $primary-color;

		list-style-type: none;

		li {
			display: inline-block;
			margin: 0.1em 3em;
			background-color: $primary-color;

			a {
				padding: .2em .5em;

				color: $primary-text-color;
			} // end a
		} // end li

		#signin-container {
			position: absolute;
			right: 3em;
			bottom: 0;
		} // end #signin-container
	} // end ul
} // end .navigation


//-------------- HEADER ------------------

.logo-container {
	padding: 7px 0px;
	width: 100%;

	background-color: $primary-color;

	.site-logo-image {
		margin-left: 1em;
	}
}


//------------ FOOTER -----------------


