<div class="analyte-summary summary">
	<div class="analyte-image summary-image">
	</div>
	<div class="analyte-content-container summary-container container">
		<div class="analyte-title summary-title">
		</div>
		<div class="analyte-content summary-content">
		</div>
		<div class="analyte-link summary-link link>
</div>
