<header>
<div class="logo-container">
	<%= link_to image_tag('site-logo-medium.png', alt: "Measuring Wellness", 
								class: "site-logo-image logo image"), root_path %>
	<span class="site-title title">
	</span>
</div>
</header>



